@page "/filmes"
@using MyFavoriteThings.Data.Models;
@using Microsoft.AspNetCore.WebUtilities;
@using MyFavoriteThings.Helpers;
@using System.Linq;
@inject HttpClient  http
@inject NavigationManager navManager

<h3>Filmes</h3>

<p class="mt-3">
    <a href="/addfilme" class="btn btn-primary">Criar Novo Filme</a>
</p>

@if (filmes == null)
{
    <p>Loading...</p>
}
else
{
    <div class="d-block mt-3 mb-3">
        <button class="btn btn-primary btntypetable" id="btntypetable" @onclick='(() => changeType("table"))'>Table</button>
        <button class="btn btn-primary btntypecard" id="btntypecard" @onclick='(() => changeType("card"))'>Card</button>
    </div>

    if (type == "card")
    {
        <div class="f-container">
            <div class="row justify-content-center align-items-center">
                @foreach (var filme in filmes)
                {
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 card p-0">
                        <a href="@filme.Capa" target="_blank">
                            <img src="@filme.Capa" class="card-img-top mx-auto" alt="@filme.Titulo" />
                        </a>
                        <div class="card-body">
                            <h3 class="text-center">@filme.Titulo (id: @filme.FilmeId)</h3>
                            <p class="text-center">Favorito: @filme.IsYourFavorite</p>
                            <div class="d-block mx-auto text-center mt-3">
                                <a href='/editfilme/@filme.FilmeId' class="btn btn-primary">Editar</a>
                                <a href='/deletefilme/@filme.FilmeId' class="btn btn-danger">Apagar</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    }
    else
    {
        <div class="srchblk mb-3">
            <h3>Procurar</h3>
            <div class="row">
                <div class="col-6">
                    <select class="custom-select" @bind="selectedValue">
                        <option value="FilmeId">FilmeId</option>
                        <option value="Titulo">Titulo</option>
                    </select>
                </div>

                <div class="col-6">
                    <input type="text" class="form-control" @oninput="@OnSearchChanged" />
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Capa</th>
                        <th>Data de Lançamento</th>
                        <th>Favorito</th>
                        <th>CRUD Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var filme in filmes)
                    {
                        <tr>
                            <td>@filme.FilmeId</td>
                            <td>@filme.Titulo</td>
                            <td>@filme.Capa</td>
                            <td>@filme.DataLancamento</td>
                            <td>@filme.IsYourFavorite</td>
                            <td>
                                <a href='/editfilme/@filme.FilmeId' class="btn btn-primary">Editar</a>
                                <a href='/deletefilme/@filme.FilmeId' class="btn btn-danger">Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    public string type { get; set; } = "table";
    string selectedValue { get; set; } = "Titulo";

    Filme[] filmes;

    protected override async Task OnInitializedAsync()
    {
        filmes = await http.GetJsonAsync<Filme[]>("/api/filmes");
        type = getType();
    }

    void changeType(string typestr)
    {
        var query = new Dictionary<string, string> {
            { "type", typestr }
        };
        type = query["type"];
        navManager.NavigateTo(QueryHelpers.AddQueryString("/filmes", query));
    }

    public string getType()
    {
        return ExtensionMethods.QueryString(navManager, "type");
    }

    async Task OnSearchChanged(ChangeEventArgs args)
    {
        string values = args.Value.ToString();
        await filmesFilteringList(values, selectedValue);
    }

    protected async Task filmesFilteringList(string value, string columnName)
    {
        filmes = await http.GetJsonAsync<Filme[]>("/api/filmes/");

        if (value.Trim().Length > 0)
        {
            switch (columnName)
            {
                case "FilmeId":
                    filmes = filmes.Where(x => x.FilmeId == int.Parse(value)).ToArray();
                    break;
                case "Titulo":
                    filmes = filmes.Where(x => x.Titulo.Contains(value)).ToArray();
                    break;
                default:
                    filmes = await http.GetJsonAsync<Filme[]>("/api/filmes/");
                    break;
            }
        }
        else
        {
            filmes = await http.GetJsonAsync<Filme[]>("/api/filmes/");
        }
    }
}
